{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <p class="font location-text"><a href="{% url 'home' %}">Home</a> / Ticket Cart</p>
                <h1 class="font">Ticket Cart</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless half-border font">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Ticket Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.ticket.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.ticket.price }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">
                            <h6><strong><a href="{% url 'remove_item' item.id %}" class="btn btn-cart my-2 my-sm-0 text-uppercase">Remove</a></strong></h6>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="pt-5 text-center">
                            <h5><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'races' %}" class="btn btn-cart my-2 my-sm-0">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-cart my-2 my-sm-0">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            {% else %}
            <div class="col font text-center mb-3">
                <p>Your cart is empty.</p>
                <a href="{% url 'races' %}">
                    <button class="btn btn-cart my-2 my-sm-0" type="submit">View Races</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}