{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <div class="col-12 hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 my-auto">
                    <h1 class="display-4 font-bold text-white title">The closest you can get to Formula 1</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <h1 class="font">Most Popular Events</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
{% endblock %}