{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <div class="col-12 hero-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 my-auto">
                    <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <p class="font location-text"><a href="{% url 'home' %}">Home</a> / Event Calender</p>
                <h1 class="font">2020 Event Calender</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row">
        {% for race in races %}
        <div class="col-lg-4 col-sm-6 font text-center mb-3">
            <a href="">
                <img class="flag" src="{{ race.flag_url }}" alt="{{ race.name }}">
            </a>
            <div class="mt-3">{{ race.name }}</div>
            <div>{{ race.date }}</div>
            <hr class="w-10 mb-1">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}