{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <!-- Location text -->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <p class="font location-text"><a href="{% url 'home' %}">Home</a> / <a href="{% url 'view_cart' %}">Ticket Cart</a> / Checkout</p>
                <h1 class="font">Checkout</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Order Summary -->
        <div class="container font">
            <div class="table-responsive rounded mb-5 ml-2 w-auto">
                <p class="text-left ml-2 order-sum">Order Summary:</p>
                <table class="table table-sm table-borderless half-border font">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Ticket Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.ticket.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.ticket.price }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="pt-5 text-center">
                            <h5><strong>Order Total: £{{ total|floatformat:2 }}</strong></h5>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Checkout Form -->
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5 half-border">
                    <legend class="fieldset-label w-auto mb-3">Personal Details:</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5 half-border">
                    <legend class="fieldset-label w-auto mb-3">Home Address:</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0 mb-2">
                        {% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this contact information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="rounded px-3 mb-5 half-border">
                    <legend class="fieldset-label w-auto mb-3">Payment Information:</legend>
                    <div id="card-element" class="form-group"></div>
                    <div id="card-errors" class="form-group"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="text-center mb-5">
                    <a href="{% url 'view_cart' %}" class="btn btn-cart my-2 my-sm-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Adjust Cart</span>
                    </a>
                    <button id='order-button' class="btn btn-cart my-2 my-sm-0">
                        <span class="text-uppercase">Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- Stripe Script -->
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout\js\stripe_elements.js' %}"></script>
{% endblock %}