{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">Thank you!</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <h1 class="font">Checkout Success</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container font">
            <p class="text-center">Please check your order details below, a confirmation email has been sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
    {% endblock %}