/*------Fonts-*/
@font-face {
    font-family: "f1Font";
    src: url("/static/fonts/Formula1-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "f1FontBold";
    src: url("/static/fonts/Formula1-Bold.ttf") format("truetype");
}