/*------Fonts-*/
@font-face {
    font-family: "f1Font";
    src: url("/static/fonts/Formula1-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "f1FontBold";
    src: url("/static/fonts/Formula1-Bold.ttf") format("truetype");
}

.font {
    font-family: "f1Font";
}

.navbar {
    background-color: #ff0000;
}

.btn-outline {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline:hover {
    color: #ffffff;
    background-color: #000000;
}

footer {
    background-color: #ff0000;
}

.social-links li a i {
    width: 50px;
    margin-top: 10px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #000000;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

html {
    overflow: hidden;
}