{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <p class="font location-text"><a href="{% url 'home' %}">Home</a> / Profile</p>
                <h1 class="font">Your Profile</h1>
                <hr class="w-100 mb-1">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="container font half-border">
            <h5>Your Saved Information:</h5>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-cart my-2 my-sm-0" type="submit">Update Info</button>
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="container font half-border">
            <h5>Order History:</h5>
            {{ orders }}
        </div>
    </div>
</div>

{% endblock %}