{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <!-- Main Content -->
    <div class="container-fluid font">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <p class="location-text"><a href="{% url 'home' %}">Home</a> / Error</p>
                <h1>Sorry looks like we cant find what you are looking for!</h1>
                <a href="{% url 'home' %}" class="btn btn-cart my-2 my-sm-0">
                    <span class="text-uppercase">Home</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}