{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark font">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/f1_logo.png' %}" class="d-inline-block align-top navbar-logo" alt="F1 Logo">
    Experiences</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item">
        <a class="nav-link text-white hvr-sweep-to-right mr-2" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white hvr-sweep-to-right mr-2" href="{% url 'races' %}">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white hvr-sweep-to-right mr-2" href="#">Contact Us</a>
      </li>
    </ul>
    <div>
      <ul class="list-inline list-unstyled text-center text-lg-right my-0">
        <li class="list-inline-item dropdown">
          <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
              <div><i class="fas fa-user fa-lg"></i></div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right border-0 text-center" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_race' %}" class="dropdown-item">Event Management</a>
              <a href="{% url 'add_ticket' %}" class="dropdown-item">Ticket Management</a>
              {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
          </div>
        </li>
        <li class="list-inline-item">
          <a class="text-white nav-link" href="{% url 'view_cart' %}">
            <div class="text-center">
              <div><i class="fas fa-shopping-cart fa-lg"></i></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>