{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-12 hero-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <h1 class="display-4 font-bold text-white title title-small">FIA Formula One World Championship</h1>
            </div>
        </div>
    </div>
</div>

<div class="section font">
    <div class="col">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3 mb-3">
                    <h1>Message Sent</h1>
                    <hr class="w-100 mb-1">
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="container">
                <h4 class="text-center">Thank you for getting in touch {{ contact.first_name }}, we will respond to your
                    query as soon as possible, your contact details are below.</h4>
            </div>
        </div>
        <div class="row">
            <div class="container mb-2">
                <div class="half-border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Contact Information:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 mr-2">{{ contact.first_name }} {{ contact.last_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Contact Email</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 mr-2">{{ contact.contact_email }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Contact Phone</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 mr-2">{{ contact.contact_phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col font text-center mb-3">
            <a href="{% url 'home' %}" class="btn btn-cart my-2 my-sm-0">
                <span class="text-uppercase">Home</span>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}